<app-header></app-header>

<div class="recipe-category-list">
    <app-recipe-category category="Meat Food" imageSrc="assets/images/foodCategories/meat_food_image.jpg"
        text="Meat Food"></app-recipe-category>
    <app-recipe-category category="Desserts" imageSrc="assets/images/foodCategories/desserts_image.jpg"
        text="Desserts"></app-recipe-category>
    <app-recipe-category category="Veganic" imageSrc="assets/images/foodCategories/veganic_image.jpg"
        text="Veganic"></app-recipe-category>
    <app-recipe-category category="Grilled" imageSrc="assets/images/foodCategories/grilled_image.jpg"
        text="Grilled"></app-recipe-category>
    <app-recipe-category category="Salads" imageSrc="assets/images/foodCategories/salads_image.jpg"
        text="Salads"></app-recipe-category>
    <app-recipe-category category="Best Choice" imageSrc="assets/images/foodCategories/best_choice_image.jpg"
        text="Best Choice"></app-recipe-category>
</div>

<router-outlet></router-outlet>