.header__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #ABD33F;
    padding: 10px;
    border-radius: 5px;
    list-style: none;
}

.header__nav-item {
    margin: 0 6px;
}

.header__nav-item::marker {
    display: none;
}

.header__nav-item--left {
    margin-right: auto;
}

.header__nav-item--login {
    margin-left: auto;
    background-color: #673FD4;
}

.header__nav-link {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

.header__nav-link--login {
    font-size: 16px;
    padding: 10px 20px;
}

.header__nav-icon {
    width: 2rem;
    height: 2rem;
    transition: transform 0.3s ease;
}

.header__nav-icon:hover {
    transform: scale(1.5);
}

.login-popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.login-popup h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.login-popup form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-popup label {
    margin-bottom: 5px;
}

.login-popup input {
    margin-bottom: 10px;
    padding: 5px;
    width: 200px;
}

.login-popup button {
    padding: 5px 10px;
    background-color: #673FD4;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-popup button:hover {
    background-color: #5519AB;
}