.header__nav {
    height: 50px;
    list-style-type: none;
    margin: 0;
    display: flex;
    align-items: center;
    background-color: #ABD33F;
    padding: 10px;
    border-radius: 5px;
}

.header__nav-item--login {
    margin-left: auto;
    background-color: #673FD4;
}

.header__nav-link {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    margin: 6px;
    border-radius: 5px;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

.header__nav-link--login {
    font-size: 16px;
    padding: 10px 20px;
}

.header__nav-icon {
    width: 2rem;
    height: 2rem;
    transition: transform 0.3s ease;
}

.header__nav-icon:hover {
    transform: scale(1.5);
}