<div class="admin-container">
    <div class="button-container">
        <button class="action-button" (click)="showCreateForm = true">Izveidot recepti</button>
    </div>

    <div *ngIf="showCreateForm">
        <h2>Izveidot recepti</h2>
        <form (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="name">Receptes nosaukums</label>
                <input type="text" [(ngModel)]="newRecipe.name" name="name" id="name" placeholder="Receptes nosaukums">
            </div>

            <div class="form-group">
                <label for="ingredients">Ingredienti</label>
                <div *ngFor="let ingredient of newRecipe.ingredients; let i = index">
                    <input type="text" [(ngModel)]="ingredient.name" name="ingredientName{{i}}"
                        placeholder="Ingredienta nosaukums">
                    <input type="number" [(ngModel)]="ingredient.quantity" name="ingredientQuantity{{i}}"
                        placeholder="Daudzums">
                    <input type="text" [(ngModel)]="ingredient.unit" name="ingredientUnit{{i}}" placeholder="Vienība">
                    <button type="button" (click)="removeIngredient(i)">-</button>
                </div>
                <button type="button" (click)="addIngredient()">+</button>
            </div>

            <div class="form-group">
                <label for="keywords">Atslēgas vārdi</label>
                <div *ngFor="let keyword of newRecipe.keywords as keywords; let i = index">
                    <input type="text" [(ngModel)]="keywords[i]" name="keyword{{i}}" placeholder="Atslēgas vārds">
                    <button type="button" (click)="removeKeyword(i)">-</button>
                </div>
                <button type="button" (click)="addKeyword()">+</button>
            </div>

            <div class="form-group">
                <label for="categories">Kategorijas</label>
                <div *ngFor="let categoryObj of newRecipe.categories; let i = index">
                    <input type="text" [(ngModel)]="newRecipe.categories[i].name" name="category{{i}}"
                        placeholder="Kategorija">
                    <button type="button" (click)="removeCategory(i)">-</button>
                </div>
                <button type="button" (click)="addCategory()">+</button>
            </div>

            <div class="form-group">
                <label for="instructions">Instrukcijas</label>
                <textarea [(ngModel)]="newRecipe.instructions" name="instructions" id="instructions"
                    placeholder="Instrukcija"></textarea>
            </div>

            <div class="form-group">
                <label for="photos">Izvēlēties fotogrāfijas</label>
                <div *ngFor="let photo of newRecipe.pictures">
                    <img [src]="photo" class="uploaded-photo">
                </div>
                <input type="file" (change)="onPhotoSelected($event)" name="photos" id="photos" multiple>
                <button type="button" (click)="uploadPhotos()">Augšlejuplādēt</button>
            </div>


            <button type="submit">Izveidot</button>
        </form>
    </div>
</div>