.recipe-category-container {
  position: relative;
  width: 40vh;
  height: 40vh;
  margin: 5vh;
  cursor: pointer;
  transition: transform 0.3s;
}

.recipe-category-container:hover {
  transform: scale(1.15);
}

.recipe-category-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.recipe-category-text {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  font-size: 18px;
  font-weight: bold;
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 5px 10px;
  z-index: 1;
}

.recipe-category-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}